@use '../../base' as *;

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;

  .header-text-modal-toggle {
    @include bold-header-text;
  }
}
