@use '../../base' as *;

.property-card {
  margin: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  overflow: hidden; /* Keep contents inside rounded borders */
  position: relative; /* Set position relative to allow child absolute positioning */

  .card-content {
    margin-left: 0.25rem;
  }

  &:hover {
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
    background-color: #f9fafc; /* Subtle background color change */
  }

  &.highlight { /* Highlighting style with blue outline */
    border: 2px solid #007bff; /* Adjust the blue color as needed */
    background-color: transparent; /* Ensure the background remains transparent */
  }

  .property-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;

    .property-title {
      font-weight: bold;
      font-size: 1.125rem;
      color: #333;
    }

    .property-icons {
      display: flex;
      gap: 12px; /* Space between icons */
    }
  }

  .MuiCardContent-root {
    padding: 1rem;
    position: relative; /* Needed to position button inside this container */

    .property-price {
      color: #000000;
      font-weight: bold;
      margin: 12px 0;
    }

    .order-button {
      position: absolute;
      bottom: 16px; /* Adjust space from the bottom of the card */
      right: 16px; /* Align button to the right */
      @include generic-blue-button; /* Apply button styling */
    }
  }

  .MuiTypography-body2 {
    color: #777;
    margin-bottom: 0.5rem;
  }
}
