@use '../../base' as *;

.mapbox-container {
  display: flex;
  flex-direction: column;

  .property-list {
    max-height: 28rem;
    overflow-y: auto;
    margin-top: 16px;
    padding: 16px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .next-prev-button-container {
    margin-top: 1rem;
    min-height: 4rem;

    .back-forward-button {
      @include generic-next-back-button;
    }
  }
}

