@use '../../base' as *;

.property-list-container {
  flex: 0 0 60%; /* Default height for mobile */
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .header-text {
    @include bold-header-text;
  }

  .filter-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #e9ecef;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0; /* Keep the filter options fixed at the top */
    z-index: 1; /* Ensure it stays above the scrollable list */

    .filter-button {
      @include generic-red-button;
      margin-right: 2.75rem;
      display: flex; /* Make the button a flex container */
      align-items: center; /* Center the items vertically */
      justify-content: center; /* Center the items horizontally */
      padding: 0.5rem 1rem; /* Adjust padding as needed */

      .filter-icon {
        margin-left: 0.35rem; /* Add some space between the text and icon */
        font-size: 1.2rem; /* Adjust the size of the icon as needed */
      }
    }
  }

  .property-list {
    flex: 1; /* Take the remaining space */
    padding: 16px 0;
    overflow-y: scroll; /* Makes the list scrollable */
  }

  .no-results-error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .property-list-container {
    flex: 0 0 40%; /* 40% width on desktop */
  }
}
