@use '../../base' as *;

.property-list-container {
  flex: 0 0 60%; /* Default width for mobile */
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100vh; /* Ensure the container takes the full viewport height */

  .header-text {
    @include bold-header-text;
  }

  .filter-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: #e9ecef;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0; /* Keep the filter options fixed at the top */
    z-index: 1; /* Ensure it stays above the scrollable list */

    .filter-button-flexbox {
      display: flex;
      height: 100%;
      align-items: flex-start;

      .filter-button {
        @include generic-red-button;
        margin-right: 1.5rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0.5rem 1rem;

        .filter-icon {
          margin-left: 0.35rem;
          font-size: 1.2rem;
        }
      }
    }
  }

  .property-list {
    flex: 1; /* Take the remaining space */
    padding: 16px 0;
    overflow-y: auto;

    /* Fix for mobile: Set a calculated height so the list scrolls */
    @media (max-width: 992px) {
      height: calc(100vh - 160px);
      padding-bottom: 15rem;
    }
  }

  .no-results-error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .property-list-container {
    flex: 0 0 40%; /* 40% width on desktop */
  }
}
