@mixin generic-red-button {
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 500;
  border-radius: 1.15rem;
  background-color: #ce175f;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #a11247;
    transform: translateY(-2px);
  }

  &:active {
    background-color: #de1866;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
}

@mixin generic-blue-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 500;
  border-radius: 1.875rem;
  background-color: #1900ff;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #3f51b5;
    transform: translateY(-2px);
  }

  &:active {
    background-color: #0069d9;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
}

@mixin bold-header-text {
  font-weight: bold;
  font-size: 1.125rem;
  color: #333;
}

@mixin generic-next-back-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 500;
  border-radius: 1.875rem;
  background-color: #d5006d;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  margin: 0 0.75rem;

  // Styles for disabled state.
  &:disabled {
    background-color: #d0d0d0;
    color: #a0a0a0;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  &:hover {
    background-color: #c51162;
    transform: translateY(-2px);
  }

  &:active {
    background-color: #ab003c;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
}